{% extends "base.twig" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}

	<div class="m-4">
		<h2 class="p-2 text-dark text-center border-top-radius-20">{{ post.title }}</h2>
		<p class="p-2 text-light">{{ post.content }}</p>
		<p class="p-1 text-dark text-center border-bottom-radius-20"><em>le {{ post.creation_date_fr }}</em></p>
	</div>

	<h2 class="mx-4 my-2">Commentaires :</h2>

	<form class="mx-4 my-2" action="post?action=addComment&postId={{ post.id }}" method="post">
		<div class="flex-center">
			<label class="m-1 width-200 text-right" for="comment">Commentaire</label><br />
			<textarea class="m-1 width-400" id="comment" name="comment"></textarea>
		</div>
		<div class="flex-center">
			<p class="m-1 width-200 text-right"></p>
			<input class="btn width-400" type="submit" value="Ajouter un commentaire">
		</div>
	</form>

	<div class="m-4">
		{% for comment in comments %}
			<div class="p-1">
				<p class="p-1 text-dark text-center">
					<strong>{{ comment.login }}</strong> <em>(Ajouté le {{ comment.comment_date_fr }})</em>
				</p>
				<p class="p-2 text-light">{{ comment.comment }}</p>
				{% if (comment.login == session.login) or (session.login == "admin") %}
					<div class="bg-gray flex-center">
						<a class="btn" href="edit?action=editComment&postId={{ post.id }}&commentId={{ comment.id }}&login={{ comment.login }}&comment={{ comment.comment }}">Editer</a>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	
{% endblock %}